/**
 * @name MinimalStyleCord
 * @version 1.0
 * @description Minimalist Theme for Discord
 * @author @dka
*/

@import url("https://monolithorchids.github.io/MinimalStyleCord/MinimalStyleCord.css");
