/**
 * @name TEST - MinimalStyleCord
 * @version 1.0
 * @description Minimalist Discord Theme
 * @source https://github.com/MonolithOrchids/MinimalStyleCord/
 * @updateUrl https://monolithorchids.github.io/MinimalStyleCord/MinimalStyleCord.css
 * @author @dka
*/

/* Credits to Nakki from "UnShittify Discord" for the following imports: */
@import url("https://mairiosipla.github.io/unshittify-discord/UnShittifySource.theme.css");
@import url("https://mairiosipla.github.io/unshittify-discord/RoundIconsSource.theme.css");

/* Toggle Options */
:root {
    --Reaction-Forward-Message-Hover: none;             /* flex = ON, none = OFF */
}

/* Text Chat */
.b8880176888cc928-base.b8880176888cc928-typing {
    top:-24px !important;
}

.f75fb00fb7356cbe-channelTextArea {
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 0;
    border: 1px;
    border-width: 1px 0px 0px 0px;
    border-radius: 0;
}

._36d072eab2b2e737-messagesWrapper {
    top: -8px;
}
.visual-refresh .f75fb00fb7356cbe-form {
    padding: 0px !important;
}

/* User/Member List */
.c8ffbb79449f399c-container .c8ffbb79449f399c-membersWrap {
    min-width: 240px;
}
.c8ffbb79449f399c-container,
.c8ffbb79449f399c-container .c8ffbb79449f399c-membersWrap .c8ffbb79449f399c-members {
    width: 240px;
}
.c8ffbb79449f399c-membersWrap .c8ffbb79449f399c-members ._5d473ecff348c314-member ._91a9d7f7e5248a56-layout {
    padding: 0px 0px 0px 12px;
    margin: 5px 0px 0px -14px;
}
.c8ffbb79449f399c-membersWrap .c8ffbb79449f399c-members ._5d473ecff348c314-member ._91a9d7f7e5248a56-layout ._91a9d7f7e5248a56-children {
    margin-left: 0px;
}

/* Group/Thread User/Member List Width Fix */
.c8ffbb79449f399c-membersWrap,
.c8ffbb79449f399c-membersWrap.c8ffbb79449f399c-hiddenMembers,
.c8ffbb79449f399c-members {
    min-width: 240px;
    width: 240px;
}
._5d473ecff348c314-member ._91a9d7f7e5248a56-container {
    margin-left: 0px;
}

/* Remove Text Chat Useless Buttons */
._24af7f4d0326ba4f-button[aria-label='Send a gift'],
._740174f3d6a2c8fe-buttonContainer:has(._24af7f4d0326ba4f-button[aria-label='Open GIF picker']),
._740174f3d6a2c8fe-buttonContainer:has(._24af7f4d0326ba4f-button[aria-label='Open sticker picker']),
.channelAppLauncher_e6e74f,
.e6e74fd4d1221f53-buttonContainer,
.app-launcher-entrypoint {
    display: none !important;
}

/* Center Emoji & Attach Buttons */
._0923f156a0410684-attachWrapper, ._740174f3d6a2c8fe-buttons{
    margin: auto;
}

/* User Info/Panel */
.visual-refresh ._37e49614b9f110a9-container {
    padding: auto;
    margin: 2px;
    width: 100%;
}

.visual-refresh ._5e434347c823b592-panels {
    left: 0px;
    bottom: 0px;
    width: 100%;
    border-radius: 0;
    /* height: 75px; */
    border-width: 1px 0px 0px 0px;
}

/* Settings Sidebar */
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebarRegion {
    min-width: 230px;
    max-width: 570px;
}
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar {
    padding: 16px 0px 16px 12px;
}
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar .aa8da23faa27393c-side .aa8da23faa27393c-item {
    margin-bottom: 0px;
    padding-top: 5.7px;
    padding-bottom: 5.7px;
}

._5e434347c823b592-sidebarListRounded,
._2ea32c412048f708-link,
._2ea32c412048f708-children * {
  border-radius: 0 !important;
}

/* Chat Emoji */
._752971923a1e6683-markup .emoji {
        height: 1.75rem;
    width: 2rem;
}
._752971923a1e6683-markup .emoji.jumboable {
    min-height: 2rem !important;
    min-width: 2rem;
}

/* Sticker In Chat */
.abd7a8a2de1017e2-clickableSticker ._31fc2df9348cd84a-assetWrapper {
    width: 10rem !important;
    height: 10rem !important;
}

/* Activity Status / Recent Activity (Members List on Servers)  */
.c8ffbb79449f399c-membersGroup:has(._095fe51feb41b3bb-headerContainer),
._0f2e83213c878a13-container {
    display: none;
}

/* Quest Ads/Pop-up: Remove Button */
._0d6162a4e6a4b802-mask {
    display: none;
}

/* Remove 'Edit Image with Apps' Button  */
._06ab41fd2ef7af3f-hoverButtonGroup {
    display: none;
    }

/* Remove Favorite Reactions and Forward buttons when hover on messages - Leaving only regular Add Reaction, Reply and More buttons  */
.c19a557985eb7793-buttonContainer {
[aria-label*="Click to react with"],
[aria-label*="Click to remove"],
[aria-label*="Forward"],
    .f84418acfdbdfe54-separator {
    display: var(--Reaction-Forward-Message-Hover);
    }
}
